# Ignore config, text, and ini files
*.cfg
*.txt
*.ini

# Ignore specific JS files (add more as needed)
customlogin.js
login.js
logon.js
bbslink.js
fl_bulletin.js
SlyEdit_Misc.js
rss-ticker.js
DDFileAreaChooser.js
ansiedit.js